# Python
__pycache__/
*.py[cod]
venv/
.env

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.idea/
.vscode/

# Local files
backend/static/*
!backend/static/.gitkeep